body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 18px;

}

#body_header{
    height:70vh;
    
    opacity: 0.8;
    background-image: url(./public/background_img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

.horizontal_list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    
}

.horizontal_list li{
    display: inline-block;
    margin:0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal_list li a{
    color: rgb(28, 121, 209);
    text-decoration: none;
    
}

.nav_menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav_menu li a:hover{ 
    color:rgb(24, 2, 2);
    border-bottom: 1px solid rgb(22, 3, 3);
} 

.text_center{
    text-align: center;
}

.social_site img:hover{
    box-shadow: 0px 0px 6px 4px rgba(47, 56, 80, 0.6);
}

#name_social{
    margin-top: 20vh;
}
#my_name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color:rgb(24, 21, 21);
    font-weight: 700;
    margin-bottom: 0.5rem;

}


section{
    width: 100%;
    /*height: 75vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
section:nth-child(2n){
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1){
    background-color: white;
}
*/
section:target {
    background-color:lightgrey;
}

.section_heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}

.section_heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my_image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;

}

#my_image img{
    height: 100%;
    width: 100%;
    border-radius: 60%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#about_para {
    text-align: center;
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /*text-align: justify;*/
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}

.skills_display{
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.skill_progress{
    width: 7rem;
    height: 1.4rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-left: 2rem;
    box-shadow: inset 1px 1px 2px 1px #b9b9b9;

}



.skill_name {
    font-size: 15px;
    color: white;
    padding: 6px 0 10px 20px;

}

.skill_name span {
    margin: 0;
}


.timeline {
    position: relative;
    width: 75%;
    /*border: 2px solid black;*/

}

.timeline_box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /*border: 2px solid black;*/
}

.timeline_box:nth-child(2n) {
    left: 53%;
}

.timeline_box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -12.5%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;

}

.timeline_box ul{
    list-style: none;
}

.timeline_box span{
    color:rgb(255, 196, 0);
    display: inline-block;
}
.timeline_box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top: 30%;
    left: -10%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline_divider {
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 8%;
    left: 50%;
}

.timeline_traveller{
    position: sticky;
    top: 30%;
    left: 10%;
    
    transform: rotate(180deg);
    z-index: 2;
}

@media screen and (max-width: 600px){
    .timeline_divider{
        left: 5%;

    }
    .timeline_box{
        left: 13% !important;
        width: 80%;
    }
    .timeline_box::after{
        left: -12% !important;
    }
    html{
        font-size :15px;
    }
}


#portfolio_container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 2%;
    justify-content: space-around;
}

.portfolio_image_container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.portfolio_image_container img {
    width: 100%;
    height: 100%;
}

.portfolio_details {
    /* display: none; */
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
    /* background-color: white; */
}

.portfolio_image_container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio_image_container:hover .portfolio_details {
    background-color: #80808078;
    /* display: block; */
    color: white;
}


#contacts {

    background-color: #0abcf9;

    background-image: linear-gradient( #132f6fe0 2%, #469797e0 37%, #143a62e0 98%);
    
    color: white;
    padding-bottom: 40px;
}

#contacts h1,
#contacts h1 span {
    color: white;
}

#contact_form {
    margin-left: 20%;
}

#contact_container {
    display: flex;
}

#my_details_container {
    width: 35%;
    margin-left: 6%;
}

#my_details_container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact_form_container {
    width: 50%;
}

#my_details_container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my_details_info {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my_details_info span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}


#contact_form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    /*#2857a4*/
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}



#contact_form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact_form button:hover {
    background: white;
    color: #13386fe0;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*common color classes */


.mb75px{
    margin-bottom: 75px ;
}




.mb-violet{
    background-color: #a429d4;
}

.mb-green{
    background-color: #17745f;
}
.mb-red{
    background-color: #cc203c;
}
.mb-orange{
    background-color: #c06325;
}
.mb-pink{
    background-color: #c72195;
}
.mb-yellow{
    background-color: #add324;
}

.seveny_five_percent{
    height: inherit;
    width: 0%;
    
}
.fifty_percent{
    height: inherit;
    width: 50%;
    
}
.ninety_percent{
    height: inherit;
    width: 90%;
    
}
.seventy_percent{
    height: inherit;
    width: 70%;
    
}
.one_percent{
    height: inherit;
    width: 1%;
    
}